@import url("https://fonts.googleapis.com/css?family=Lato:300, 400, 700");
/*content*/
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}
/* thumbnail */

.btns {
    border-radius: 3px;
    text-align: center;
    width: 70%;
    outline: none;
    border: 1px solid black;
    background-color: #f0f8ff;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: 0.3s transform cubic-bezier(0.55, -0.87, 0.44, 1.91);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 4px;
    opacity: 0;
}
.btns:hover {
    color: #f7347a;
    transform: scale(1.2);
}
.thumbnail {
    position: relative;
    overflow: hidden;
}
img {
    width: 100%;
    height: auto;
}
/*Hover Effect thumbnail*/
.thumbnail .overlay {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 100;
    width: 100%;
    height: 70%;
    background: rgba(171, 167, 156, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.35s;
}
.thumbnail:hover .overlay {
    left: 0;
    opacity: 1;
}
.thumbnail .overlay:hover a {
    opacity: 1;
}

/* input[type="number"]::-webkit-inner-spin-button {
    opacity: 1;
} */
.btn-sing {
    transition: all 0.5s;
    width: 100%;
}
.btn-sing:hover {
    transform: scale(1.2);
}

.badge {
    background-color: #6394f8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.shopping-cart ul li {
    list-style: none;
}
.shopping-cart {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 3px;
    float: right;
    position: static;
    left: 0;
    width: 100%;
}
.shopping-cart .shopping-cart-header {
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 16px 8px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
    color: #f7347a;
}
.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
    width: 50px;
}
.shopping-cart .shopping-cart-items .item-name {
    display: block;
    font-size: 16px;
    padding-top: 10px;
}
.shopping-cart .shopping-cart-items .item-price {
    color: rgb(99, 148, 248);
    font-size: 12px;
    margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
    color: rgb(171, 176, 190);
    font-size: 13px;
}
.shopping-cart::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255);
    border-image: none;
    border-style: solid;
    border-width: 8px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 89%;
    margin-left: -8px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.cart-icon {
    color: rgb(81, 87, 131);
    float: left;
    font-size: 24px;
    margin-right: 7px;
}
.button {
    background: rgb(99, 148, 248) none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    margin: 25px 0 15px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background: rgb(114, 158, 249) none repeat scroll 0 0;
}
.clearfix::after {
    clear: both;
    content: attr(title);
    display: table;
}

@media (min-width: 768px) {
    .dropdown-menu {
        padding: 0;
    }
    .dropdown:hover > .dropdown-menu {
        display: block;
    }
    .shopping-cart {
        position: relative;
        width: 320px;
    }
    .shopping-cart .shopping-cart-items img {
        float: left;
        margin-right: 12px;
    }
}
